body {
    margin: 0;
}

.pokedex-main-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(43, 41, 44, 1);
}

.pokedex-img-container {
    height: 35%;
    background-color: rgba(213, 59, 71, 1);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#currentPokemonNumber {
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
}
#currentPokemonName {
    margin-bottom: 40px;
    color: white;
}
#currentPokemonImg {
    height: 200px;
}