body {
    margin: 0;
    color: white !important;
    background-color: rgba(43, 41, 44, 1) !important;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Kalam', cursive !important;
}

table {
    width: 90%;
}

h3 {
    text-align: center;
}

.pokedex-main-container {
    height: 100vh;
    width: 100vw;
}

.pokedex-img-container {
    height: 35%;
    width: 100%;
    background-color: rgba(213, 59, 71, 1);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#currentPokemonNumber {
    position: absolute;
    top: 5%;
    right: 5%;
}

#currentPokemonName {
    margin-bottom: 40px;
}

#currentPokemonImg {
    height: 200px;
}

#currentPokemonName {
    margin-top: 3%;
    text-align: center;
}

.pokedex-stats-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-class-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin-top: 3%;
}

.pokemon-class0 {
    background-color: #FF421C;
    width: 160px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 24px;
}

.pokemon-class1 {
    background-color: #FF421C;
    width: 160px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 24px;
}

.pokemon-size-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin-top: 3%;
    text-align: center;
}

.w-160 {
    width: 160px;
}

.color-gray {
    color: #848284;
}

.base-stats-maincontainer {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-left {
    width: 56px;
}
.progress-bar {
    text-align: end !important;
    padding-right: 8px !important;
}

.btn-primary {
    margin: 5% !important;
}

#moveList {
    border: 4px solid white;
}

.table-header {
    border: 4px solid white;
}

#moveList td {
    padding: 8px;
    border-bottom: 1px solid white;
    width: 25%;
}

.dropdown-menu a {
    text-decoration: none !important;
    user-select: none;
    cursor: pointer;
}
.header {
    background-color: #D53B47;
    height: 100px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 24px;
}

.poke-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF421C;
    border-radius: 40px;
    cursor: pointer;
}

.poke-container:hover {
    transform: scale(1.1);
}

.poke-img {
    object-fit: contain;
    width: 250px;
    height: 250px;
}

.go-back {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5%;
    left: 5%;
    fill: white;
    cursor: pointer;
}

.search-field {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 50% !important;
}

.btn-danger {
    color: white !important;
    background-color: #D53B47 !important;
}

#content {
    width: 100%;
}

.load-next-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    border: none !important;
}

@media (max-width: 1250px){
    .poke-container {
        width: 250px;
        height: 250px;
    }
    .poke-img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1050px){
    .poke-container {
        width: 200px;
        height: 200px;
        border-radius: 32px;
    }
    .poke-img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 850px){
    h3 {
        font-size: 20px !important;
    }
    .poke-container {
        width: 150px;
        height: 150px;
        border-radius: 24px;
    }
    .poke-img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 650px){
    h3 {
        font-size: 16px !important;
    }
    .poke-container {
        width: 100px;
        height: 100px;
        border-radius: 16px;
    }
    .poke-img {
        width: 50px;
        height: 50px;
    }
    #moveList td {
        padding: 4px !important;
        font-size: 12px;
    }
    #moveList td div button {
        font-size: 12px;
    }
}